@import './modules/variables';
@import './modules/mixins';
body {
    .header {
        @include display (flex);
        @include flex (center, none);
        background-color: #fff;
        .container {
            max-width: 1170px;
            width: 100%;
            @include display (flex);
            @include flex (space-between, center);
            .nav {
                .ul {
                    @include display (flex);
                    justify-content: space-between;
                    .li{
                        color: $navcolor;
                        font-size: $navfontsize;
                        margin-right: 35px;
                    }
                }
            }
            .socul {
                @include display (flex);
                @include flex (space-between, none);
                .socli {
                    font-size: $socsize;
                    color: $navcolor;
                    &:last-child {
                        color: $searchcolor;
                        &::after {
                            display: none;
                        }
                    }
                    margin-right: 15px;
                    &::after {
                        content: '';
                        width: 2px;
                        height: 24px;
                        background-color: $navcolor;
                        display: inline-block;
                        margin: 0 15px;
                    }
                }
            }
        }
    }
    .section1 {
        background-color: $bgcolor01;
        @include display (flex);
        @include flex (center, none);
        padding: 30px 0;
        .container1 {
            max-width: 1170px;
            width: 100%;
            margin: 0 auto;
            @include display (flex);
            @include flex (space-between, none);
            & p {
                font-size: $titlesize;
                color: $navcolor;
                & span {
                    color: #fff;
                }
            }
        }
    }
}